@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    /* colors */
    --red: hsl(0, 100%, 68%);
    --very-dark-blue:  hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);

    /* fonts */
    --fontSize: 18px;
    --fontFamilyBarlow: 'Barlow', sans-serif;
    --fontFamilyBarlowCondensed: 'Barlow Condensed', sans-serif;
    --fontWeightRegular: 400;
    --fontWeightBold: 700;

    /* media queries */
    --mobile: 375px;
    --desktop: 1440px;
}
*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    color: var(--very-dark-blue);
    font-family: var(--fontFamilyBarlow);
    font-size: var(--fontSize);
    overflow-x: hidden;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 60vh;
    width: 50vw;
    background-color: var(--light-grayish-blue);
    z-index: -1;
    border-bottom-left-radius: 90px;
}
img {
    max-width: 100%;
}
.desktop-nav li a:hover {
    text-decoration: underline;
}
.image {
    margin: 100px 0px;
}
.illustration {
    transform: scale(1.5) translateX(12%);
}
.main-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 35px;
}
.desktop-nav, 
.close-icon,
.mobile-dropdown {
    display: none;
}
.show-mobile-nav .hamburger-icon {
    display: none;
}
.show-mobile-nav .mobile-dropdown {
    display: flex;
}
.show-mobile-nav .close-icon {
    display: block;
}
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.mobile-dropdown {
    position: absolute;
    top: 60px;
    background: #ffffff;
    list-style: none;
    padding: 25px;
    text-align: center;
    width: calc(100vw - 70px);
    margin: 0 auto;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #aaa;
    flex-direction: column;
    gap: 20px;
}
.mobile-dropdown > li {
    position: relative;
}
.mobile-dropdown > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--very-dark-blue);
    font-weight: var(--fontWeightBold);
    font-family: var(--fontFamilyBarlowCondensed);
    letter-spacing: 1px;
}
.mobile-dropdown > li > a.login {
    margin-top: 20px;
    color: var(--grayish-blue);
    display: inline-block;
}
.mobile-dropdown > li > a.login::before {
    content: "";
    position: absolute;
    top:0px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--light-grayish-blue);
}
.container {
    display: flex;
    flex-direction: column-reverse;
}
.mini-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: var(--fontFamilyBarlowCondensed);
    font-weight: var(--fontWeightRegular);
    color: var(--grayish-blue);
}
.mini-heading > .note {
    font-family: var(--fontFamilyBarlowCondensed);
    font-weight: var(--fontWeightBold);
    background-color: var(--very-dark-blue);
    border-radius: 20px;
    color: white;
    padding: 3px 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}
.heading {
    margin-top: 16px;
    font-family: var(--fontFamilyBarlowCondensed);
    font-weight: var(--fontWeightBold);
    text-transform: uppercase;
    font-size: 40px;

}
.description {
    color: var(--dark-grayish-blue);
    font-size: 20px;
    line-height: 32px;
    margin: 15px 0px 35px 0px;
}
.action-buttons {
    display: flex;
}
.btn-primary {
    text-transform: uppercase;
    font-weight: var(--fontWeightBold);
    font-family: var(--fontFamilyBarlowCondensed);
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: var(--red);
    letter-spacing: 1px;
}
.btn-primary:hover {
    opacity: 0.5;
    cursor: pointer;
}
.btn-secondary {
    padding: 10px 0px;
    padding-left: 15px;
    border: none;
    background-color: transparent;
}
footer {
    font-size: xx-small;
    text-align: center;
    margin: 100px auto;
}

/* Desktop Styling */

@media (min-width: 768px) {
    .left {
        flex: 0.9;
    }
    .right {
        flex: 1.1;
    }
    .illustration {
        transform: scale(1.8) translateX(25%);
    }
    .heading {
        font-size: 60px;
    }
    .description {
        max-width: 300px;
        margin: 35px 0 65px 0;
    }
    .btn-primary {
        padding: 18px 35px;
    }
    .container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 180px;
    }
    .image {
        margin: 60px 0px;
    }
    .desktop-nav {
        display: flex;
        list-style: none;
        gap: 50px;
        padding: 0px;
        margin: 0px;
    }
    .desktop-nav > li {
        position: relative;
    }
    .mobile-dropdown {
        display: none;
    }
    .desktop-nav > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--very-dark-blue);
        font-weight: var(--fontWeightBold);
        font-family: var(--fontFamilyBarlowCondensed);
        letter-spacing: 1px;
    }
    li > a.login {
        margin-left: 50px;
        color: var(--grayish-blue);
    }
    li > a.login::before {
        content: "";
        width: 8px;
        height: 8px;
        background: var(--grayish-blue);
        position: absolute;
        left: 0px;
        top: 6px;
        border-radius: 50%;

    }
    .nav-icons {
        display: none;
    }
}